// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "compass/reset", "mixins";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;

$font-main: "freight-display-pro",sans-serif;
$font-weight: 700;
$font-button: "source-sans-pro",sans-serif;
$button-color: #fff;

.container {
  @include container;
  display: table;
}

