html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------------------------------------------------*/
/* Layout */
body {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  padding: 15px 0;
  text-transform: uppercase;
}
.header h1 {
  font-size: 1em;
}

.main {
  padding: 200px 0 0;
}
.main p {
  font-size: 4em;
  font-style: italic;
  margin-bottom: 50px;
}
.main a {
  display: block;
}
.main button {
  width: 250px;
  height: 45px;
  margin-top: 100px;
  border: 0;
  background: #3f9933;
  cursor: pointer;
  transition: 200ms background ease;
  -webkit-transition: 200ms background ease;
  -ms-transition: 200ms background ease;
  -moz-transition: 200ms background ease;
  -o-transition: 200ms background ease;
}
.main button:hover {
  background: #2f7326;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
}
.footer p {
  font-size: 0.850em;
}
.footer a {
  text-decoration: none;
  color: #000;
}
.footer a:visted {
  color: #000;
}
.footer a:hover {
  color: #000;
  text-decoration: underline;
}
.footer a:active {
  color: #000;
}
