html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------------------------------------------------*/
/* Layout */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: url(../img/coffee.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body {
  font-family: "freight-display-pro", sans-serif;
  color: #fff;
  text-align: center;
}

a, a:active,
a:link, a:visited,
a:focus, a:hover {
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.header {
  padding: 15px 0;
  text-transform: uppercase;
}
.header h1 {
  font-size: 1em;
}

.main p {
  min-height: 225px;
  margin-top: 240px;
  font-weight: 800;
  font-size: 3.500em;
  text-shadow: 1px 1px 0 rgba(119, 119, 119, 0.7);
}
.main button {
  margin-top: 55px;
  padding: 15px 45px;
  border: 4px solid #fff;
  font-family: "source-sans-pro", sans-serif;
  font-size: .850em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: 300ms background ease;
  -webkit-transition: 300ms background ease;
  -ms-transition: 300ms background ease;
  -moz-transition: 300ms background ease;
  -o-transition: 300ms background ease;
}
.main button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.footer {
  margin-top: 85px;
  padding: 10px 0;
}
.footer p {
  font-size: 0.700em;
  letter-spacing: 1px;
}
.footer p, .footer p a {
  color: rgba(255, 255, 255, 0.2);
  outline: none;
}
